{% block content %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Welcome to the Website</title>
    </head>

    <body>
        <h2 class="bigtitle">You can see the Gun sale information and Gun violence report by click the link below</h2>
        <a href="http://127.0.0.1:5000/api/v1.0/gunsalebystate">/api/v1.0/gunsalebystate</a><span> list Gun Sale from 2017 to 2021 by state in US</sapn>
        <br>
        <a href="http://127.0.0.1:5000/api/v1.0/Gun_violence_2019">/api/v1.0/Gun_violence_year</a><span> list all gun violence mass shooting on year</span>
        <br>
        
        <h3>Start and end date should be formatted as <strong>'YYYY-MM-DD'</strong></h3>


    </body>

</html>

{% endblock %}


